<% unless @articles.empty? %>
  <div>
      <% @articles.reverse_each do |article| %>
        <% unless article.archived? %>
          <div class="card p-3 m-2 mb-4 text-dark">
              <p class="text-sm-left mb-0 p-0 font-weight-bold"><%=article.user.first_name %> <%= article.user.last_name %></p>
              <p class="text-sm mb-0 p-0 text-muted">Posted on <%=article.created_at.strftime("%d %b %Y")%></p>
              <%= link_to article.title, article, class: "text-lg" %>
          </div>
        <% end %>
      <% end %>
  </div>
<% end %>

