<div class="d-flex justify-content-around footer mx-auto mt-28 px-5 flex">
    <p class="ms-3">About</p>
    <a class="text-decoration-none" href="https://github.com/mosesakor/"><i class="bi bi-github"></i>  Github</a>
    <a class="text-decoration-none" href="https://github.com/mosesakor/Rails-Blog">Source Code</a>
</div>